<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="mx-auto max-w-7xl">

    <h3 class="footer-heading font-bold">関学クラブシニア</h3>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>関西学院大学体育会サッカー部卒業生の有志によるサッカークラブです。
関学の卒業生であれば年齢に関係なく参加できます。</p>
      </div>
    </div>

  </div>

</footer>